:root{
    --r: 255;
    --g: 0;
    --b: 0;
    --text-color: rgb(var(--r), var(--g), var(--b));
    --global_background_color: #333;
    font-family: "Averta CY W01 Bold";
}

.navbar-brand img{
    max-height: 100px;
    width: auto;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.color-overlay {
   background-color: rgba(0,0,0,0.4); 
   min-height: 60vh;
}

@media(max-width: 757.98px){
    .color-overlay{
        min-height: 30vh ;
    }
}