:root{
    --r: 255;
    --g: 0;
    --b: 0;
    --text-color: rgb(var(--r), var(--g), var(--b));
    --global_background_color: #333;
    font-family: "Averta CY W01 Bold";
}

.navbar-brand img{
    max-height: 100px;
    width: auto;
}

header {
    background: no-repeat center center;
    background-size: cover;
    color: white;
}

.color-overlay {
   background-color: rgba(0,0,0,0.4); 
   min-height: 60vh;
}

/*adding a single column for content display on main page*/

.singleCol{
    max-width: 750px; /*wide enough to be readable to but not too wide as to cause eye strain*/
   /* background-color: yellowgreen;*/
}


/* Adding in the footer */
footer {
    background-color: #3a3a3a;
    color: white;
}

/* changing footer coloration to be white and when hovered over, a cool color instead of the default blue*/
footer a {
    color: white;
}
footer a:hoover {
    color: #dfdfdf; 
}
@media(max-width: 767.98px){
    .color-overlay{
        min-height: 30vh ;
    }
}

